<a href="https://colab.research.google.com/github/aarav1203/PPT/blob/main/BigDataDay4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Write a Python program that uses the HiveQL language to create a table named "Employees" with columns for "id," "name," and "salary."
```
from pyhive import hive
#Establish a connection to Hive
conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
#Create table
query="""
Create table employees(
  id Int,
  name String,
  salary float)
"""
#Execute the query
with conn.cursor() as cursor:
     cursor.execute(query)
#Close the connections
conn.close()
```

2.  Create a Python program that retrieves records from a Hive table named "Customers" where the age is greater than 30


```
from pyhive import hive
# Establish a connection to Hive
conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
#Prepare the query
query="""
select * from customers where age>30
"""
#Exectue the query
with conn.cursor() as cursor:
  cursor.execute(query)

  # Fetch all the records
  records=cursor.fetchall()
  #Process the records
  for record in records:
    print(record)
#Close the connection
conn.close()


```

3.  Write a Python script that sorts records in descending order based on the "timestamp" column in a Hive table named "Logs."

```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
select * from logs order by timestamp desc
"""
with conn.cursor() as cursor:
  cursor.execute(query)

  records=cursor.fetchall()
  for record in records:
    print(record)

conn.close()    
```

4.  Write a Python program that connects to a Hive server using PyHive library and retrieves all records from a table named "Products".


```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
select * from products
"""
with conn.cursor() as cursor:
  cursor.execute(query)

  records=cursor.fetchall()
  for record in records:
    print(record)

conn.close()    
```

5.  Write a Python script that calculates the average salary of employees from a Hive table named "Employees".


```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
select avg(salary) as average_salary from employees
"""
with conn.cursor() as cursor:
  cursor.execute(query)

  result=cursor.fetchone()
  average_salary=result[0]
  print("Average salary:",average_salary)

conn.close()  
  ```

6.  Implement a Python program that uses Hive partitioning to create a partitioned table named "Sales_Data" based on the "year" and "month" columns.


```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
create table sales_data(
  id int,
  amount float
)
partitioned by(year int ,month int)
"""
with conn.cursor() as cursor:
  cursor.execute(query)

conn.close()    
```

7.  Develop a Python script that adds a new column named "email" of type string to an existing Hive table named "Employees."


```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
alter table employees
add columns (email string)
"""
with conn.cursor() as cursor:
  cursor.execute(query)

conn.close()    
```

8.  Create a Python program that performs an inner join between two Hive tables, "Orders" and "Customers," based on a common column.


```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
select * from orders inner join customers on orders.customer_id=customers.customer_id
"""
with conn.cursor() as cursor:
  cursor.execute(query)

  records=cursor.fetchall()
  for record in records:
    print(record)

conn.close()  
  ```

9.  Implement a Python program that uses the Hive SerDe library to process JSON data stored in a Hive table named "User_Activity_Logs.


```
from pyhive import hive

conn=hive.Connection(host='localhost',port=10000,usrname='aarav1203')
query="""
create table user_activity_logs(
  user_id int,
  activity string
)
row format serde 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES(
  "separatorChar"="\t",
  "quoteChar"="'",
  "escapeChar"="\\"
)
STORED AS TEXTFILE
"""
with conn.cursor() as cursor:
  cursor.execute(query)

conn.close()    
```